* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Poppins", serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875/1.4rem var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highligth: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-hightlight: #f3541c;
  --Semantic-error: #dc2626;
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
  }
}

aside {
  padding: 4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;

    & strong {
      color: var(--text-highligth);
    }
  }
}
