* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Poppins", serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875/1.4rem var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highligth: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --Semantic-error: #dc2626;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  height: 100%;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
    height: fit-content;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
  }
}

aside {
  padding: 4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;

    & strong {
      color: var(--text-highligth);
    }
  }
}

/* ============= FORM =============== */

form {
  margin-top: 3rem;
  width: 100%;
  max-width: 100%;
}

fieldset {
  height: 100%;
  border: none;
  width: 100%;
  max-width: 100%;

  display: grid;
  gap: 1.5rem;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}

input,
textarea,
select {
  appearance: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);

  padding: 0.75rem 1rem;

  font: var(--text);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  resize: none;
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: 2rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  outline: 0.25rem solid var(--surface-primary);
  border: 0.125rem solid var(--stroke-highlight);
  outline-offset: 0.1px;
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../assets/icons/calendar-03.png) center/contain;
    right: 1rem;

    width: 1.25rem;
    height: 1.25rem;

    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url(../assets/icons/arrow-down-01.png) no-repeat calc(100% - 1rem);
}

/* ============== UPLOAD FILE ZONE ================ */

.droparea-wrapper {
  width: 100%;
  max-width: 100%;
}

.dropzone {
  max-width: 100%;
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;

  display: grid;
  justify-items: center;
  gap: 0.5rem;

  text-align: center;
  padding: 1.75rem 1rem;

  position: relative;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

  & p {
    color: #a8a29e;
  }

  &:hover,
  &:has(input:focus) {
    border-width: 2px;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);

    & {
      color: var(--text-tertiary);
    }

    & svg path {
      stroke: var(--stroke-highlight);
    }
  }
}

/* ========================= ADDRESS =========== */

fieldset + fieldset {
  margin-top: 3rem;
}

.gardian {
  margin-bottom: 100px;
}

address .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
  opacity: 0.5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
  }

  &:invalid {
    border: 0.125rem solid var(--Semantic-error);
  }

  & + small {
    font: var(--text-sm);
    color: #78716c;

    display: inline-block;
    margin-top: 0.25rem;
  }

  &[required] + .error {
    align-items: center;
    display: flex;
    gap: 0.25rem;
  }

  &:valid + .error {
    display: none;
  }
}

/* ===================== shift ================= */

label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  padding: 2rem 0.5rem 0.5em;

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .radio-image {
    background-image: url(../assets/icons/radio-default.svg);

    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../assets/icons/radio-default-hover.svg);
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);
    & .radio-image {
      background-image: url(../assets/icons/radio-checked.svg);
    }
  }
}

.enroll-options {
  margin-bottom: 5rem;
}

/* ================= TERMS ================ */

.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--text-highligth);
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;

    background-image: url(../assets/icons/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../assets/icons/checkbox-checked.svg);
  }
}

/* ====================== ACTIONS ================== */

.actions-wrapper {
  margin-bottom: 5rem;
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

button {
  all: unset;
  font-weight: 500;
  color: var(--text-highligth);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;

  &.btn-primary {
    color: wheat;
    background-color: #e43a12;

    &:hover,
    &:focus {
      background-color: #f3541c;
    }
  }

  &.btn-secundary {
    margin-left: auto;
    border: 1px solid var(--text-highligth);

    &:hover,
    &:focus {
      color: #e43a12;
      outline: 0.25rem solid var(--surface-secondary);
    }
  }
}
